.girlsWhoCodeButton {
    /* This centers the button */
    width: 400px;
    height: 700px;

    /* This makes the button pretty */
    background: rgb(255,255,255);
    color: #00b36b;
    font-size: 100px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px black;
    font-family:  'Lobster';
    text-align: center;
}
.codeGameFont{
    font-family: 'Federant';
    color:#cccc00;
}
.background{
    background-color:#b3e6ff;
}