.image{
    margin: auto;
    display: block;
    margin-top: 200px;
}
.bowlingball{
    border-radius: 50%;
    width:100px;
    height:100px;
    display: block;
    margin: auto;
    margin-top: -100px;
    transition: 0.56s;
}
.bowlingballposition{
    border-radius: 50%;
    width:80px;
    height:80px;
    display: block;
    margin: auto;
    margin-top: -350px;
    transition: 0.56s;
}
.button1 {
    background: aquamarine;
    border-radius: 5px;
    top: 650px;
    position: fixed;
    left: 50%;
    margin-left: -30px; /* <-- half the width */
    cursor: pointer;
    padding: 15px;
}

.button1:hover {
    background: rgb(81, 212, 169);
}