.girlsWhoCodeButton {
    /* This centers the button */
    position: absolute;
    width: 150px;
    margin-left: 50%;
    left: -75px;

    /* This makes the button pretty */
    background: rgb(0, 0, 0);
    color: rgb(250, 166, 180);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgb(255, 169, 183);

    /* top is how far down from top of screen the button is */
    top: 70px;
}
.VY_LUUL  {
    /* This centers the button */
    position: absolute;
    width: 150px;
    margin-left: 50%;
    left: -75px;

    /* This makes the button pretty */
    background: rgb( 255, 255, 255);
    color: rgb(161, 107, 255);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgb(161, 107, 255);

    /* top is how far down from top of screen the button is */
    top: 100px;
}
